asgiref==3.12.1
click==8.4.2
croniter==6.2.4
Django==6.1
django-environ==0.14.0
django-rq==4.1.1
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
psycopg==3.3.4
psycopg-binary==3.3.4
PyJWT==2.13.0
python-dateutil==2.9.0.post0
redis==8.1.0
rq==2.10.0
six==1.17.0
sqlparse==0.5.5
